.wrapper {
    margin-top: 2rem;
}

// write a review button
.review-btn {
    padding: 12px 22px;
    border: 2px solid #000;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s;
    color: #fff;
    background-color: #000;

    &:hover {
        color: #000;
        background-color: #fff;
    }
}

// collapsible writting review form
.collapsible {
    max-height: 0;
    padding: 2rem;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

// writting review form
.review-frm {
    display: flex;
    flex-direction: column;
    width: 1200px;
    max-width: 100%;
    padding: 2rem 2.5rem;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 3rem;
    box-shadow: 0.1rem 0.6rem 2rem rgb(0 0 0 / 10%);

    // review rating
    .rating-lbl {
        margin-bottom: 1rem;
    }

    .review-title-lbl {
        margin-top: 2rem;
    }

    // review title
    .review-title-txt {
        width: 100%;
        height: 34px;
        padding-left: 8px;
        padding-right: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 1rem;
        font-size: 1.6rem;

        &:focus {
            outline: 0.2rem solid transparent;
            outline-offset: 0.3rem;
            box-shadow: 0 0 0 0.3rem rgb(255, 255, 255), 0 0 0.5rem 0.4rem rgba(15, 15, 15, 0.3);
        }
    }

    // review body
    .review-body-lbl {
        margin-top: 3rem;
    }

    .review-body-txt {
        width: 100% !important;
        max-width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 4px 8px;
        margin-top: 1rem;
        font-size: 1.7rem;
        resize: none;

        &:focus {
            outline: 0.2rem solid transparent;
            outline-offset: 0.3rem;
            box-shadow: 0 0 0 0.3rem rgb(255, 255, 255), 0 0 0.5rem 0.4rem rgba(15, 15, 15, 0.3);
        }
    }

    // cancel and post review button
    .btn-cell {
        align-self: center;
        margin-top: 3rem;
    }

    .cancel-btn,
    .post-btn {
        padding: 10px 26px;
        border: 2px solid #000;
        border-radius: 8px;
        margin: 0 20px;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s;
        color: #fff;
        background-color: #000;

        &:hover {
            text-decoration: underline;
            text-underline-offset: 4px;
            text-decoration-thickness: 2px;
        }
    }

    .cancel-btn {
        color: #000;
        background-color: #fff;
    }
}
