.wrapper {
    border-bottom: 1px solid var(--color-primary);
    padding-bottom: 32px;
    margin-bottom: 32px;
}

.headline {
    margin-bottom: 32px;
    font-size: 1.8rem;
    font-weight: 700;
}

.amount {
    display: block;
}
