.wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 18px;
    // margin-bottom: 32px;
    background-color: var(--color-productBackground);
}

.image-cell {
    display: flex;

    img {
        width: 100%;
        border-radius: 2px;
        aspect-ratio: 4/3;
    }
}

.headline {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;

    .price {
        font-weight: 800;
        color: #000;
    }
}

.title {
    height: 80px;
    margin-top: 10px;
    font-size: 1.5rem;
    color: #000;
}
