.wrapper {
    margin-top: 5rem;
}

.info {
    margin-left: 3rem;
}

.product-name {
    font-size: 2.6rem;
}

.product-rating {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-top: 1.6rem;
    line-height: 1.6rem;
}

.product-price {
    margin-top: 1.6rem;
    font-size: 2.8rem;
    line-height: 2.8rem;
    font-weight: 700;
}

.product-description {
    margin-top: 1.6rem;
}
