.wrapper {
    width: 600px;
    border-top: 1px solid #ececec;
}

.collapsible {
    position: relative;
    display: flex;
    align-items: center;
    gap: 14px;
    width: 100%;
    padding: 16px 0;
    border: none;
    cursor: pointer;
    background-color: transparent;

    h3 {
        font-weight: 600;
    }

    .expand-icon {
        position: absolute;
        right: 0;
    }
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}
