.wrapper {
    width: 600px;
    margin-top: 40px;
}

details {
    border-top: 1px solid#ececec;

    &:last-child {
        border-bottom: 1px solid#ececec;
    }
}

summary {
    padding: 16px 0;
    line-height: 1;
    list-style: none;
    cursor: pointer;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    gap: 14px;

    h3 {
        font-weight: 600;
    }

    .expand-icon {
        position: absolute;
        right: 0;
    }
}

details[open] summary .title .expand-icon {
    transform: rotate(180deg);
}

.content {
    margin: 0 10px;
    margin-bottom: 16px;
    word-break: break-word;
}
