@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

/* base css */
:root {
    --color-primary: #f3eff3;
    --color-secondary: #21d4f4;
    --color-textPrimary: #000;
    --color-textSecondary: #a9b3bb;
    --color-textTertiary: #000;
    --color-headerLinkIcon: brightness(0) saturate(100%); //black
    --color-searchBox: #fff;
    --color-searchBoxFocus: #dfdbdf;
    --color-searchInput: #fff;
    --color-searchBtnActive: #21d4f469;
    --color-searchClearBtn: brightness(0) saturate(100%); //black
    --color-searchSearchBtn: invert(87%) sepia(28%) saturate(6201%) hue-rotate(150deg) brightness(95%) contrast(102%); //light blue

    --height-header: 88px;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body {
    position: relative;
    line-height: 1.6;
    font-size: 1.6rem;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* important commons */
.ml-2 {
    margin-left: 2px !important;
}

// grid system
.grid {
    display: block;
    width: 1400px;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
}

.col {
    padding-left: 16px;
    padding-right: 16px;
}

.lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
